language: java
dist: trusty

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

jdk:
  - oraclejdk8
  - oraclejdk9
  - oraclejdk11
  - openjdk8
  - openjdk10

env:
  - MODULE=core
  - MODULE=http42
  - MODULE=http43
  - MODULE=http44
  - MODULE=http45

branches:
  except:
  - staging-test

before_script: ./gradlew createTestSubAccount -PmoduleName=${MODULE}

# ciTest is configured to skip the various timeout tests that don't work in travis
script: source tools/cloudinary_url.txt && ./gradlew -DCLOUDINARY_URL=$CLOUDINARY_URL -DCLOUDINARY_ACCOUNT_URL=$CLOUDINARY_ACCOUNT_URL ciTest -p cloudinary-${MODULE} -i
